// raw point
$pointRawFill: #0085ffa0;
$pointRawStroke: #2b2bff;

// control/smooth point
$pointCtrlFill: #ffa50080;
$pointCtrlStroke: #b83a00;

// step point
$pointStepFill: #ff000080;
$pointStepStroke: #ff0000;

.pointRaw {
    fill: $pointRawFill;
    stroke: $pointRawStroke;
}

.pointCtrl {
    fill: $pointCtrlFill;
    stroke: $pointCtrlStroke;
}

.pointStep {
    fill: $pointStepFill;
    stroke: $pointStepStroke;
}

// control point handle
.handle {
    fill: #ffa50080;
    stroke: #b83a00;
    stroke-width: 1;
}

.lineLower {
    fill: none;
    stroke: #ff842280;
    stroke-width: 4;
}

.lineUpper {
    fill: none;
    stroke: #ffdb0080;
    stroke-width: 2;
}

// legend

.legendRaw {
    background-color: $pointRawFill;
    border: 1px solid $pointRawStroke;
}

.legendCtrl {
    background-color: $pointCtrlFill;
    border: 1px solid $pointCtrlStroke;
}

.legendStep {
    background-color: $pointStepFill;
    border: 1px solid $pointStepStroke;
}
